{% extends 'main.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer: {{customer.name}}</h5>
			<hr>
			<a class="btn btn-sm btn-block bg-dark" style="color: white;" href="">Update Customer</a>
			<a class="btn btn-sm btn-block bg-dark" style="color: white;" href="">Delete Customer</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{customer.email}}</p>
			<p>Phone: {{customer.phone}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ customer_order_set_count }}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

            <button class="btn btn-primary bg-dark" style="color: white;" type="submit">Search</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Category</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
				{% if customer_order_set_count > 0 %}
				{% for customer_order in customer_order_set %}
				<tr>
					<td>{{customer_order.product}}</td>
					<td>{{customer_order.product.category}}</td>
					<td>{{customer_order.date_created}}</td>
					<td>{{customer_order.status}}</td>
					<td><a href="">Update</a></td>
					<td><a href="">Delete</a></td>
				</tr>
				{% endfor %}
				{% else %}
				<tr>
					<td>NULL</td>
					<td>NULL</td>
					<td>NULL</td>
					<td>NULL</td>
					<td>NULL</td>
					<td>NULL</td>
				</tr>
				{% endif %}
			</table>
		</div>
	</div>
</div>

{% endblock %}