<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title" style="color: black;">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" style="color: black;">{{ order_count }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title" style="color: black;">Orders Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" style="color: black;">{{ delivered_order_count }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title" style="color: black;"> Orders Pending </h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title" style="color: black;">{{ pending_order_count }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>